.app {
    display: flex;
    justify-content: center;
}
.list {
    margin: 20px 40px;
    background-color: #fafafa;
    padding: 20px 10px 20px;
    border: 1px solid #333;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}
